* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

/* Hide content that isn't :target, and hide the default section if any section before it is :target. */
/* N.B. default section (about) MUST be last in html. */
.content,
.content:target ~ #about {
  display: none;
}

/* Show :target content and the default content (loses to .content:target ~ #about). */
#about,
.content:target {
  display: block;
}

body,
html {
  background-color: #eee;
  color: #222;
  height: 100%;
  margin: 0;
}

header {
  width: 90vw;
  text-align: center;
  margin: 0 auto;
}
header::after {
  display: block;
  content: '';
  width: 90vw;
  margin: 0 auto;
  border-bottom: 1px solid #000;
}

h1,
h2,
h3 {
  font-family: 'Proza Libre', sans-serif;
  color: black;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1rem;
}

nav a {
  display: inline-block;
  margin: auto 0;
  text-decoration: none;
  color: #222;
}

nav a + a::before {
  content: '|';
  margin: 0 0.5rem;
}

nav {
  margin: 0.5rem;
}

.project {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.project-info {
  position: relative;
  width: 90vw;
  max-width: 500px;
  text-align: center;
}
.flex-child {
  margin: auto;
}
.project-image {
  width: 40vw;
  height: auto;
  max-height: 50vh;
  display: inline-block;
}

.techstack {
  max-width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.tech {
  height: 1.5rem;
  width: auto;
  display: inline-block;
  margin: 0.75rem;
}

.project-links {
  display: inline-block;
  max-width: 90vw;
}

.pl {
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 0.25rem;
  box-shadow: 3px 3px 5px;
  margin: 0.25rem 0.5rem;
  min-width: fit-content;
  width: 100%;
  max-width: 18em;
}

.portrait {
  max-width: 200px;
  width: 60vw;
  min-width: 100px;
  display: block;
  margin: 1rem auto;
  border-radius: 50%;
}

p {
  line-height: 1.4rem;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

address {
  font-style: normal;
}

main {
  flex-grow: 1;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  width: 90vw;
}

@media screen and (min-width: 800px) {
  .project-image {
    height: auto;
    width: auto;
    max-width: 15vw;
    max-height: 30vh;
  }
  header::after {
    display: none;
  }

  .wrapper {
    display: flex;
    justify-content: left;
    flex-direction: row;
    height: 100%;
  }
  .project-description {
    padding: 1rem;
    margin: auto auto auto 1rem;
  }

  .project-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 3rem;
    align-self: center;
    max-width: calc(85vw - 2rem);
  }
  .techstack {
    flex-direction: column;
  }

  .tech {
    text-align: left;
  }

  .project > p {
    margin: 2rem auto;
  }

  nav a {
    display: flex;
    flex-grow: 0;
    align-self: center;
  }

  nav a + a::before {
    content: '';
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 1rem auto 0;
    border: none;
    border-right: 1px solid #444;
    width: 15vw;
    height: 100vh;
    position: fixed;
  }

  nav {
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .projects:target,
  .project,
  main {
    display: block;
  }
  main {
    margin-left: 15vw;
  }
}

@media (min-width: 1600px) {
  .project {
    /* flex-direction: row; */
    /* align-items: center;
    margin: auto;
    max-width: 90vw; */
  }

  .project > p {
    margin: auto 1rem;
    align-self: left;
  }
}
